/* Estilos para Choclias.jsx */

.choclias-container {
    margin-top: 50px;
  }
  
  .project-card {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .project-card:hover {
    transform: scale(1.05);
  }
  